<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DecimalInternetClock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DecimalInternetClock.Properties.Settings>
            <setting name="Foreground" serializeAs="String">
                <value>#FF00FF00</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>#3F000000</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>320,220</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>100,100</value>
            </setting>
            <setting name="ShowInTaskBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowHeaderVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="ResizeMode" serializeAs="String">
                <value>CanResizeWithGrip</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value />
            </setting>
            <setting name="DecimalClockVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="BinaryClockVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="BinaryRingVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="DisplayFontFamily" serializeAs="String">
                <value>Aurabesh</value>
            </setting>
            <setting name="IntList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>this</string>
                        <string>that</string>
                        <string>other than that</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TextBoxVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="ScrollBarThickness" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="IsAlarmOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Alarm" serializeAs="String">
                <value />
            </setting>
        </DecimalInternetClock.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
